header{
    padding: 20px;
    text-align: center;
    background-color: #81b7d2;
    color: white;
    border: 3px solid black;
}

.flexbox-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
}

.flexbox-item{
    background-color: #daf2dc;
    justify-content: center;
    align-items: center;
}

.flexbox-item-1{
    width: 200px;
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    font-style: italic;
}


.flexbox-item-1 h2{
    text-align: center;
    color: black;
}

.flexbox-item-2{
    width: 50%;
    margin: 20px;
    font-style: bold;
    border: 3px solid black;
    color: black;
    text-align: center;
}


.flexbox-item-1-4{
    float: right;
}

table
{
    width: 100%;
    border-collapse: collapse;
}
table th{
    background: lightgray;
}
table td, table th{
border: 1px solid black;
}

.button {
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}
